table#documentTable {
    min-width: 95% !important;
}
th {
  background-color: #ffffff !important;
color: #0b4aa2;
}
tr:nth-child(odd) {
  background-color: #f9f9f9; /* light gray */
}
tr:nth-child(even) {
  background-color: #ffffff; /* white */
}
td, th {
  border: none !important;
}
/* .search-containerbox {
    gap: 30px !important;
} */
button.mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-primary.mat-mdc-button-base {
    background-color: #e30b79;
    color: white;
}
input#docSearch {
    font-size: 13px;
}