<div class="forgot-password-container">
  <h2>Forgot Password</h2>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <!-- <mat-label>Email</mat-label> -->
      <input matInput formControlName="emailId" type="email" placeholder="Enter your email" required />
      <mat-error *ngIf="email.invalid && email.touched">Valid email is required</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="forgotPasswordForm.invalid">
      Send Reset Link
    </button>
  </form>

  <div *ngIf="message" class="info-message">{{ message }}</div>
</div>

